{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Django App{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% block extra_css %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="menu-bar">
    <h1>{% block header %}Django App{% endblock %}</h1>
    <div>
      {% if user.is_authenticated %}
        <span>Hola, {{ user.username }}!</span>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="boton">Cerrar sesión</button>
        </form>
      {% else %}
        <a class="boton" href="{% url 'login' %}">Iniciar sesión</a>
        <a class="boton" href="{% url 'signup' %}">Registrarse</a>
      {% endif %}
          <a class="boton" href="{% url 'exam' %}">Exámenes</a>
          <a class="boton" href="{% url 'course' %}">Asignaturas</a>
          <a class="boton" href="{% url 'reevaluate' %}">Reevaluar</a>
          <a class="boton" href="{% url 'analysis' %}">Análisis</a>
          <a class="boton" href="{% url 'api' %}">API</a>
      </div>
  </div>
  <div class="section">
    {% block content %}{% endblock %}
  </div>
  {% block extra_scripts %}{% endblock %}
</body>
</html>